
<!DOCTYPE html>
<html class="x-admin-sm">    
    <head>
        <meta charset="UTF-8">
        <title>当当网后台管理</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">     
        <link rel="stylesheet" href="/css/font.css">
        <link rel="stylesheet" href="/css/xadmin.css">
        <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/js/xadmin.js"></script>
        <script type="text/javascript" src="/js/jquery-1.8.3.js"></script>
        <script type="text/javascript">
        		
        
        </script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript">
        	$(function(){
        		$("#add").click(function(){
				    var bNo = $.trim($('#bNo').val());
				    var bName = $.trim($('#bName').val());
				    var bPrice = $.trim($('#bPrice').val());
				    var bAuthor = $.trim($('#bAuthor').val());
				    var bPress = $.trim($('#bPress').val());
				    var bCount = $.trim($('#bCount').val());
				    var bDate = $.trim($('#bDate').val());
				    var bDescribe = $.trim($('#bDescribe').val());
				    var btId = $.trim($('#btId').val());
				    var bSaleCount = $.trim($('#bSaleCount').val());
				    var bTitle = $.trim($('#bDescribe').val());
				    var bOldName = $.trim($('#bOldName').val());
				    var picture = $('#picture')[0].files[0];
				    var formData = new FormData($("#uploadForm")[0]) 
				    formData.append("picture",$('#picture')[0].files[0]);
				    var url = "BookaddServlet.do?option=addBook&bNo="+bNo+"&bName="+encodeUrl(bName)+"&bPrice="+bPrice+"&bAuthor"+encodeUrl(bAuthor)+"&bPress="+encodeUrl(bPress)+"&bCount="+bCount+"&bDate="+bDate+"&bDescribe"+encodeUrl(bDescribe)+"&btId="+btId+"&bSaleCount"+bSaleCount+"&bTitle"+encodeUrl(bTitle)+"&bOldName"+encodeUrl(bOldName);
        			$.ajax({
		              	url:url,
		          		type:"POST",
		          		async: false,
		          		data: formData,
		          		processData: false,
		          		contentType: false,// 不要设置Content-Type请求头
				        success: function(result){
				            if(result>0){
				            	alert("新增成功");
				            }else{
				            	alert("新增失败");
				            }
             			}
        		
        			})
        		})
        	})
        
        </script>
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form enctype="multipart/form-data" id="uploadForm" method="post">
                
                    <div class="layui-form-item">
                        <label for="bNo" class="layui-form-label">
                            <span class="x-red">*</span>图书ID</label>
                        <div class="layui-input-inline">
                            <input type="text" id="bNo" name="bNo" required="" lay-verify="bNo" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red"></span>
                        </div>
                    </div>
                    
                    
                    <div class="layui-form-item">
                        <label for="bName" class="layui-form-label">
                            <span class="x-red">*</span>图书名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="bName" name="bName" required="" lay-verify="bName" autocomplete="off" class="layui-input"/></div>
                    </div>
                    
                    <div class="layui-form-item">
                        <label for="bPrice" class="layui-form-label">
                            <span class="x-red">*</span>图书价格</label>
                        <div class="layui-input-inline">
                            <input type="text" id="bPrice" name="bPrice" required=""  autocomplete="off" class="layui-input"/>
                        </div>                            
                   		<div class="layui-form-mid layui-word-aux"></div>
                    </div>   
                    
                    <div class="layui-form-item">
                        <label for="bAuthor " class="layui-form-label">
                        <span class="x-red">*</span>图书作者</label>   
                  		<div class="layui-input-inline">
                        <input type="text" id="bAuthor" name="bAuthor" required="" lay-verify="bAuthor" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">
                        </div>
                    </div> 
                    <div class="layui-form-item">
                        <label for="bPress " class="layui-form-label">
                        <span class="x-red">*</span>图书出版社</label>  
                    	<div class="layui-input-inline">
                        <input type="text" id="bPress" name="bPress" required="" lay-verify="bPress" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">
                        </div>
                   	</div> 
                   	
                    <div class="layui-form-item">
                        <label for="bCount" class="layui-form-label">
                            <span class="x-red">*</span>图书数量</label>
	                     <div class="layui-input-inline">
	                            <input type="text" id="bCount" name="bCount" required="" lay-verify="bCount" autocomplete="off" class="layui-input"></div>
	                        <div class="layui-form-mid layui-word-aux">
	                     </div>
                   	</div> 
                   	
                    <div class="layui-form-item">
                        <label for="bDate " class="layui-form-label">
                        <span class="x-red">*</span>图书日期</label>
                    	<div class="layui-input-inline">
                        <input type="text" id="bDate" name="bDate" required="" lay-verify="bDate" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">
                       	</div>
                    </div>  
                    
                    <div class="layui-form-item">
                        <label for="bDescribe" class="layui-form-label">
                        <span class="x-red">*</span>图书备注</label>
                    	<div class="layui-input-inline">
                        <input type="text" id="bDescribe" name="bDescribe" required="" lay-verify="bDescribe" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">
                        </div>
                   </div> 
                   <div class="layui-form-item">
                        <label for="btId " class="layui-form-label">
                        <span class="x-red">*</span>类型编号</label>
                    	<div class="layui-input-inline">
                        <input type="text" id="btId" name="btId" required="" lay-verify="btId" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">
                        </div>
                  </div>      
                                  
                  <div class="layui-form-item">
                        <label for="bSaleCount " class="layui-form-label">
                        <span class="x-red">*</span>销售数量</label>
                        <div class="layui-input-inline">
                            <input type="text" id="bSaleCount" name="bSaleCount" required="" lay-verify="bSaleCount" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux"></div>
                        
                  </div>
                        
                    <div class="layui-form-item">
                        <label for="bTitle " class="layui-form-label">
                        <span class="x-red">*</span>图书标题</label>
                    	<div class="layui-input-inline">
                        <input type="text" id="bTitle" name="bTitle" required="" lay-verify="bTitle" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux"></div>
                     </div> 
   
                    <div class="layui-form-item">
                        <label for="bOldName " class="layui-form-label">
                        <span class="x-red">*</span>原图书名称</label>
                    	<div class="layui-input-inline">
                        <input type="text" id="bOldName" name="bOldName" required="" lay-verify="bOldName" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux"></div>
                   	</div>    
                   	
                    <div class="layui-form-item">
                        <label for="bPictureId " class="layui-form-label">
                        <span class="x-red">*</span>图片路径</label>
                    	<div class="layui-input-inline">
                        <input type="file" name="files" id="picture"/></div>
                        <div class="layui-form-mid layui-word-aux">
                       	</div>
                   	</div>       
                   	                   
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <input type="submit" class="layui-btn" value="增加" id=add"></div>
                </form>
            </div>
        </div>
        
        <script>var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
    </body>

</html>